[type='text'] {
  width: 20em;
  display: inline-block;
}
/*
.details {
  padding-left: 1em;
}*/

.hidden {
  display: none;
}

.click-for-details {
  margin-top: 1em;
  margin-bottom: 1em;
}

.page-content {
  display: flex;
  flex-flow: column;;
}

.panel-body:hover {
  border: 2px solid rgb(158, 209, 252);
}

.title {
  font-size: 1.5em;
}
